{
    "no-interactive": true,
    "skip": [
        "checks"
    ],
    "install-source": "automated_installer",
    "dbinfo": {
        "host": "localhost",
        "user": "deskpro",
        "password": "{{deskpro_database_user_password}}",
        "dbname": "deskpro"
    },
    "path_php": "/usr/bin/php",
    "path_mysql": "/usr/bin/mysql",
    "path_mysqldump": "/usr/bin/mysqldump",
    "filestorage_method": "fs"
}
